/* Set the margin of the body element to 0 */
body {
	margin: 0;
}

/* Set the width of the container element to 80% */
#container {
	/* width: 50%; */
	/* Set the margin to auto to center align the container */
	text-align: center;
}

#clock {
	font-size: 3.2vw;
	/* width: 50rem; */
	/* margin: 10%; */
	/* text-align: center; */
	/* border: 2px solid black; */
	/* border-radius: 20px; */
}
.text-block{
	margin: 2vw;
	margin:auto;
	text-align: center;
	max-width: 1000px;
}
.question {
	text-align: left;
	padding: 2vw;
	margin: 2vw;
	border: #000000;
	border-width: thin;
	border-style: ridge;
}
.finalscore { 
	padding: 2vw;
	margin-left: 15vw;
	margin-right: 15vw;
	border: #6200ee;
	border-width: thick;
	border-style:groove;
}

.wrongans {
	color: rgb(224, 37, 4);
	font-weight: bold;
}

.rightans {
	color: rgb(0, 173, 0);
	font-weight: bold;
}

.float {
	position: fixed;
	width: 13vw;
	/* height:60px; */
	top: -1vw;
	right: 2vw;
	background-color: #0C9;
	color: #000000;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
	margin-top: 22px;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 5vw;
	padding-bottom: 15vw;
	height: 30vw+300px;
	background-color: #6200ee;
	color: white;
	text-align: center;
}

.padding_lr_5 {
	margin-left: 2vw;
}

ol li {
	list-style: none;
	position: relative;
	padding: 5px 5px 5px 25px;
	margin-bottom: 10px;
	margin-top: 15px;
  }
  
  ol li::before {
	content: "✅";
	position: absolute;
	top: 6px;
	left: 0;
  }

.animate {
	animation-duration: 0.7s;
	animation-name: animate-fade;
	animation-delay: 0.3s;
	animation-fill-mode:backwards;
  }
  
  @keyframes animate-fade {
	0% {
	  opacity: 0;
	  padding-left: 100%;
	  margin-left: 100%;
	}
	100% {
	  opacity: 1;
	}
  }