/* Set the margin of the body element to 0 */
body {
	margin: 0;
}

/* Set the width of the container element to 80% */
#container {
	/* width: 50%; */
	/* Set the margin to auto to center align the container */
	text-align: center;
}

#clock {
	font-size: 3.2vw;
	/* width: 50rem; */
	/* margin: 10%; */
	/* text-align: center; */
	/* border: 2px solid black; */
	/* border-radius: 20px; */
}
.question{
	text-align: left;
	padding: 2vw; 
	margin: 2vw;
	border: #000000;
	border-width: thin; 
	border-style: ridge;
}
.wrongans{
	color: rgb(224, 37, 4);
	font-weight: bold;
}
.rightans{
	color: rgb(0, 173, 0);
	font-weight: bold;
}
.float {
	position: fixed;
	width: 13vw;
	/* height:60px; */
	top: -1vw;
	right: 2vw;
	background-color: #0C9;
	color: #000000;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
	margin-top: 22px;
}